In [54]:
import pandas as pd
import numpy as np

In [55]:
RawImage = pd.read_table("input_question_4", header = None) 
# Remove auto-assigned col names
RawImage

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,1,1,0,0,0,1,0,1,0,1,1,1,0,0,1,1
1,1,0,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0
2,0,1,1,1,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1,0
3,0,0,0,0,1,1,0,0,0,0,1,0,0,0,1,1,1,0,1,1
4,1,0,0,1,0,0,0,0,0,0,1,1,1,0,1,1,1,0,1,1
5,1,1,1,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0,1
6,1,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1
7,0,1,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,1,1,1
8,0,0,1,1,1,0,0,1,0,1,0,0,1,0,0,0,1,1,1,0
9,1,0,1,0,1,0,1,1,1,1,0,0,1,0,1,0,0,0,0,1

In [56]:
# https://www.cnblogs.com/walter-xh/p/10171597.html

rows, cols = RawImage.shape
table=np.array(RawImage)

label_table = []
for i in range(rows):
    col = cols*[0]
    label_table.append(col)

def show(table):
    rows = len(table)
    cols = len(table[0])
    for i in range(rows):
        for j in range(cols):
            print(table[i][j], end=" ")
        print()

def dfs(i, j, mask):
    if i<0 or i>=rows or j<0 or j>=cols or \
        label_table[i][j]!=0 or \
        table[i][j]!=1:
        return 0
    label_table[i][j] = mask
    ret = 1
    #left right up down search
    ret+=dfs(i, j-1, mask)
    ret+=dfs(i, j+1, mask)
    ret+=dfs(i-1, j, mask)
    ret+=dfs(i+1, j, mask)

    return ret
    
if __name__ == "__main__":
    mask = 1
    for i in range(rows):
        for j in range(cols):
            if table[i][j] == 1 and label_table[i][j] == 0:
                ret = dfs(i,j, mask)
                res[mask] = ret
                mask+=1
               
    show(label_table)
    # print(label_table)

0 0 0 0 1 1 0 0 0 2 0 3 0 4 4 4 0 0 5 5
6 0 7 0 0 0 0 0 2 2 0 0 0 0 4 0 0 8 0 0
0 7 7 7 7 7 7 0 2 0 9 0 10 0 0 0 0 0 11 0
0 0 0 0 7 7 0 0 0 0 9 0 0 0 11 11 11 0 11 11
12 0 0 12 0 0 0 0 0 0 9 9 9 0 11 11 11 0 11 11
12 12 12 12 0 13 0 0 0 0 0 0 0 14 0 0 11 11 0 11
12 12 0 0 0 0 15 0 0 0 0 16 16 0 0 0 0 11 0 11
0 12 0 0 0 15 15 0 0 0 0 16 16 0 0 0 0 11 11 11
0 0 17 17 17 0 0 18 0 18 0 0 16 0 0 0 11 11 11 0
19 0 17 0 17 0 18 18 18 18 0 0 16 0 20 0 0 0 0 21

In [59]:
# Writing the output
file= open("output_question_4.txt","a")
file.truncate()
for eachrow in label_table:
    combine = ""
    for num in eachrow:
        combine += str(num)+" "
    file.write (combine)
    file.write  ("\n")
    
file.close()